.headerNav {
	display: flex;
	justify-content: space-evenly;
	width: 100vw;
	height: 8vh;
	background-color: grey;
}

.headerDivider {
	display: flex;
	flex: 1;
	margin: auto;
	justify-content: space-around;
}