@use '../../styles/tokens.module.scss' as *;

.headerContainer {
  width: 100%;
  padding: 1rem 0;
  position: relative;
  z-index: 10;
  background-color: $color-white;
  .headerBar {
    @include display-flex(row);
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    @media (min-width: $breakpoint-md) {
      width: calc(100% - 3rem);
    }
    .logo {
      width: 120px;
      padding-right: 1rem;
    }
    .headerMainNav {
      @include display-flex(row);
      align-items: center;
      .headerMenuBtn {
        @include display-flex(row);
        margin: 0 1rem;
        border: none;
        background: none;
        @media (min-width: $breakpoint-md) {
          display: none;
        }
      }
      ul {
        display: none;
        @media (min-width: $breakpoint-md) {
          @include display-flex(row);
        }
        li {
          cursor: pointer;
          padding: 0 1rem;
        }
      }
    }
    .headerSecondaryNav {
      	@include display-flex(row);
      	align-items: center;
		cursor: pointer;
		border: none;
		background: none;
		padding: 0 1rem;
		font-size: 1.5rem;
    }
  }
}
