@use '../../styles/tokens.module.scss' as *;

.search {
	display: flex;
	position: relative;
	border: thin solid lighten($color-grey, 50%);
	border-radius: 20px;
	div {
		display: flex;
		padding: 0.4rem 1rem;
		justify-content: center;
		align-items: center;
	}
}

.searchInputs {
	display: flex;
	align-items: center;
	border: 0;
	border-radius: 2px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	&::placeholder {
		font-weight: 200;
	}
}

.searchResult {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 1000;
	width: 100%;
	background-color: #fefefe;
	margin-top: 1.6em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	overflow: hidden;
	overflow-y: auto;
	text-align: center;
	border: thin solid #b5c1c0;
	border-radius: 20px;

	@media (max-width: $breakpoint-sm) {
		font-size: medium;
		margin-top: 1.9em;
	}
}

.result {
	width: 100%;
}

.image {
	width: 50%;
}

.title {
	width: 50%;
	font-size: 0.45em;

	@media (max-width: $breakpoint-sm) {
		font-size: medium;
	}
}




