@use '../../styles/tokens.module.scss' as *;

.search {
	display: flex;
	position: relative;
	border: thin solid lighten($color-grey, 50%);
	border-radius: 20px;
	div {
		display: flex;
		padding: 0.4rem 1rem;
	}
}

.searchInputs {
	display: flex;
	align-items: center;
	border: 0;
	border-radius: 2px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	&::placeholder {
		font-weight: 200;
	}
	@media (max-width: $breakpoint-md) {
		width: 5em;
	}
}

.searchResult {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 1000;
	width: 70%;
	background-color: #f2f3f7;
	margin-top: 1.7em;
	font-size: 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	overflow: hidden;
	overflow-y: auto;
	text-align: center;
	left: 1rem;

	@media (max-width: $breakpoint-md) {
		width: 100%;
		background-color: #f2f3f7;
		font-size: 0.8em;
	}
}

.result {
	margin: 1em 0;
}

