@use '../../styles/tokens.module.scss' as *;

.appBtn {
  @include display-flex(row);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: $color-white;
  padding: 1rem 0;
  width: 100%;
  svg {
    margin: 0 1rem;
    font-size: 1.5rem;
  }
}
.rounded {
  border-radius: 100%;
  width: 100%;
  height: auto;
}

.sand {
  background-color: $color-sand;
  &:hover {
    background-color: darken($color-sand, 5%);
  }
}
.red {
  background-color: $color-red;
  &:hover {
    background-color: darken($color-red, 5%);
  }
}
.coal {
  background-color: $color-coal;
  &:hover {
    background-color: darken($color-coal, 5%);
  }
}
.green {
  background-color: $color-green;
  &:hover {
    background-color: darken($color-green, 5%);
  }
}
.grey {
  background-color: $color-grey;
  &:hover {
    background-color: darken($color-grey, 5%);
  }
}
.white {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: $color-white;
  color: $color-coal;
  &:hover {
    background-color: darken($color-white, 2%);
  }
}