.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 80%;
	height: 50%;


}

.box {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}