@use '../../styles/tokens.module.scss' as *;

.checkoutContainer {
	// min-height: 60rem;
	// @media (max-width: $breakpoint-sm) {
	// 	min-height: 25rem;
	// }
	margin: 20px 20px;
}

.emptyCart {
  h1 {
    padding: 1rem 0
  }
  @include display-flex(column);
  margin-top: 10rem;
  align-items: center;

}