@use '../../styles/tokens.module.scss' as *;

.checkoutContainer {
  max-width: 75rem;
  margin: 0 auto;
}

.emptyCart {
  h1 {
    padding: 1rem 0
  }
  @include display-flex(column);
  margin-top: 10rem;
  align-items: center;
  
}