@use '../../styles/tokens.module.scss' as *;

.footerInner {
	width: calc(100% - 5rem);
	margin: 0 auto;
}
.footer {
	color: $color-white;
	background-color: $color-dark-grey;
	.info {
		@include display-flex(row);
		justify-content:center;
		align-items: center;
		padding: 1rem 0;
		h3,p {
			margin: 0 1rem
		}
	}

		.socialMedia {
		@include display-flex(row);
		justify-content: center;
		padding: 1rem 0;
			svg {
				margin: 0 1rem;
			}
		}

		.paymentOptions {
			display: flex;
			justify-content: flex-end;
			padding: 0.5rem 0;
			width: 100%;
			svg {
				width: 100px;
				height: auto;
			}
		}
		.footnote {
			@include display-flex(row);
			justify-content:center;
			padding-bottom: 0.2rem;
			p {
				font-size: small;
			}
		}
  }


