.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8vh;
	background-color: grey;
  }

  .footerDiv {
	display: flex;
	justify-content:space-evenly;
	align-items: center;
	flex: 1;
  }