.container {
	display: flex;
	align-items: center;
	margin: auto;
	width: 60vw;
}

.containerImage {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 60%;
}

.boxImage {
	width: 40%;
}

.name{
	width: 50%;
}

.increaseDecrease {
	display: flex;
	justify-content: center;
}

.containerPrice {
	margin: 0 1em;
}

.rightSide {
	display: flex;
	justify-content: flex-end;
	height: 100%;
	width: 40%;
}

.rightSideBox {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.button {
	height: 3vh;
	width: 6vw;
}

.quantity {
	margin: 0 1em;
}
