@use '../../styles/tokens.module.scss' as *;
.formContainer {
  @include display-flex(column);
  justify-content: center;
  align-items: center;
  header {
    padding: 1rem 0;
  }
}

/* .shippingLabel {
  width: 50px;
  height: 50px;
} */

.checkoutForm {
  @include display-flex(row);
  flex-wrap: wrap;
  max-width: 45rem;
  margin: 0 auto;
}
.shippingContainer {
  @include display-flex(column);
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}
.shippingHeader {
  @include display-flex(row);
  justify-content: center;
}
.shippingItem {
  @include display-flex(row);
  flex-wrap: wrap;
  display: flex;
  padding: 1rem 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 10px;
  align-items: center;

  div {
    flex: 2;
    &:nth-child(4) {
      flex: 1;
    }
    section {
      width: 50px;
      height:50px;
    }
  }
}
